html, body {
  height: 100%;
}
body {
  font-family: 'Orbitron', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EEABCE;
  box-sizing: border-box;
}
.container {
  height: 100%;
}
.cc {
  display: flex;
  align-items: center;
  justify-content: center;
}
.circle {
  border-radius: 50%;
}
.oh {
  overflow: hidden;
}
.pa {
  position: absolute;
}
.z10 {
  z-index: 10;
}
.bGray {
  background-color: #2a2829;
}
.simon {
  width: 90vw;
  height: 90vw;
  position: relative;
  box-shadow: 10px 10px 20px rgba(0,0,0,0.5);
}

@media only screen and (min-width: 768px) {
  .simon {
    width: 50vw;
    height: 50vw;
  }
}